html {
  body {
    font-family: var(--app-font);
  }
}

.App {
  width: 100%;
  height: 100%;
  padding-top: 70px;
  background-color: var(--bs-secondary-bg);
  color: var(--bs-body-color);
}

.ibl {
  padding: 0;
  width: 70%;
}

.ibl-bg {
  background-color: var(--ibl-color);
  &:hover {
    background-color: var(--ibl-hover);
  }
}

.ibl-text {
  color: var(--ibl-color);
}

.application-wrapper {
  margin-top: 35px;
  margin-bottom: 35px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: var(--bs-body-bg);
  border-top: 3px solid var(--accent-color);
}

.navbar {
  margin-bottom: 70px;
  height: 60px;
  padding: 0
}

.footer {
  bottom: 0;
  margin-top: 70px;
  width: 100%;
  border-top: 3px solid var(--bs-secondary-color);
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-content {
  width: 70%;
}